sqaod (1.0.3-0~@DIST@) @DIST@; urgency=medium

  * Fix: QUBO energy was not correctly calculated in SA algorithm in CUDA-based dense graph annealer.

 -- Shinya Morino <shin.morino@gmail.com>  Mon,13 Nov 2018 12:00:00 +0900

sqaod (1.0.2-0~@DIST@) @DIST@; urgency=medium

  * Version 1.0.2 includes miscellaneous bug fixes, that affect annealing behavior.   Please update to 1.0.2 if you're using older versions.

  * getSystemE() is added to solvers to calculate system energy during annealing. [#60]

  * sqaod.algorithm.sa_default is added to select default SA algorithms in annealers. [#61]

  * calculate_E() and make_solutions() are not required to get QUBO energy and solutions.  These functions are for caching energies and solutions. [#63]

  * Python solvers return copies of objects.[#62]

  * Fix: anneal_one_step() for SA algorithm did not work, since parameters are not correctly passed. [#65]

  * Fix: QUBO energy was not correctly calculated and beta was not correctly applied in SQA algorithms. [#64]

  * Fix: symmetrize() was not correctly handled. [#66]

 -- Shinya Morino <shin.morino@gmail.com>  Sun,11 Nov 2018 12:00:00 +0900


sqaod (1.0.0-0~@DIST@) @DIST@; urgency=medium

  * Version 1.0.0

  * All solvers and functions are able to accept upper/lower triangular matrices. (#57)

  * Simulated annealing algorithms (not simulated *quantum* annealing) have been implemented.  It's automatically selected when n_trotters == 1. (#59)

  * Misc bug fixes.

 -- Shinya Morino <shin.morino@gmail.com>  Sat,27 Oct 2018 12:00:00 +0900

sqaod (0.3.1-0~@DIST@) @DIST@; urgency=medium

  * Beta 2 update.  Version 0.3.1

  * Tested oon Ubuntu 16.04/17.10 for CUDA 9.0/9.2

  * Tested with Python 2.7, 3.5, 3.6, 3.7

  * APIs for version signatures added.

  * No changes on solver implementation.

 -- Shinya Morino <shin.morino@gmail.com>  Sun,2 Sep 2018 12:00:00 +0900

sqaod (0.3.0-0~xenial) xenial; urgency=medium

  * Beta 2. Version 0.3.0
    Interfaces for the python package and c++ solver interfaces have been fixed.

  * Peformance tuning for both CPU-based and CUDA-based solvers(#33, #34).

  * Device memory leak fixed(#51).

  * BLAS disabled for better performance (#52).

 -- Shinya Morino <shin.morino@gmail.com>  Sun,1 Jul 2018 12:00:00 +0900


sqaod (0.2.0-0~xenial) xenial; urgency=medium

  * Beta 1. Version 0.2.0
    Interfaces for the python package and c++ solver interfaces have been fixed.

  * Operators for MatrixType<> and VectorType<> are delegated to Eigen.
    Eigen usage is wrapped in libsqaodc-<simd> packages.

  * SQAOD_VERBOSE env var is introduced to control log output.
    Setting SQAOD_VERBOSE as non '0' value to enable log output, otherwise logs are suppressed.

  * set_qset() is introduced to set an array of bit vectors to annealers.
    In alpha2, set_q() was previously able to accepat a bit vector and an array of bit vectors.  In beta1, set_q() is to set a bit vector, and newly-introduced set_qset() is to set an array of bit vectors.

  * sqaod.cuda.formulas has been enabled.

  * Stride is introduced to MatrixType<> and DeviceMatrixType<> to enable further optimizataion.

 -- Shinya Morino <shin.morino@gmail.com>  Sat,5 May 2018 12:00:00 +0900

sqaod (0.1.1) unstable; urgency=medium

  * Alpha2. 0.1.1

  * More tests and fixes
    Fixed: FP32 solvers did not work.
    Tests are refined and updated.

  * change in API.
    set_x() -> set_q().
    set_q() accepts vector and vector array.

 -- Shinya Morino <shin.morino@gmail.com>  Sat,21 Apr 2018 22:00:00 +0900


sqaod (0.1.0) unstable; urgency=medium

  * Alpha1.  sqaod (0.1.0)
    sqaod (0.1.0) unstable; urgency=medium

 -- Shinya Morino <shin.morino@gmail.com>  Sat, 03 Mar 2018 07:58:40 +0900
