Source: sqaod
Priority: optional
Maintainer: Shinya Morino <shin.morino@gmail.com>
Build-Depends: debhelper (>=9),autotools-dev
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/shinmorino/sqaod
#Vcs-Git: git://anonscm.debian.org/collab-maint/sqaod.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/sqaod.git

Package: sqaodc
Section: libs
Architecture: amd64
Depends:  libgomp1:amd64
Description: sqaodc library

Package: sqaodc-cuda
Section: libs
Architecture: amd64
Depends: sqaodc:amd64 cuda-cublas-9-1:amd64 cuda-cudart-9-1:amd64 cuda-curand-9-1
Description: sqaodc CUDA library
